<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
  <body>
    <style>
      #section{
          height: 170px;
          width: 100%;
          margin-top: 130px;
          margin-bottom: -50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          /* padding: 20px; */
          /* background-color: red; */
      }
      .img{
          height: 180px;
      }
      .details{
          margin-left: 50px;
          width: 700px;
          font-size: 20px;   
      }
      .details a{
          text-decoration: none;
          color: black;
      }
      #cart{
        position: absolute;
        width: 25px;
        height: 25px;
        font-size: 18px;
        /* display: flex;
        align-items: center; */
        text-align: center;
        /* margin-left: 10px; */
        margin-bottom: 10px;
        top: 20px;
        right: 120px;
        background-color: red;
        border-radius: 50%;
    }
    input{
        height: 100%;
        width: 250px;
        font-size: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        border: white 2px solid;
        background-color: white;
        opacity: .7;
    }
    input i{
        margin-left: 12px;
        color: white;
    }
      #section h4{
          font-size: 22px;
          margin-top: 10px;
      }
      .details button{
          margin-top: 40px;
          padding: 5px;
          margin-right: 10px;
          /* border: none; */
          border-radius: 2px;
      }
      #a{
          height: 30px;
      }
      #ser{
          position: absolute;
          /* margin-left: -100px; */
          /* left: -200px;    */
          right: 150px;
          font-weight: 600;
          opacity: .5;
          color: black;
      }
    </style>
    <nav class="navbar navbar-dark bg-primary" >
        <div class="container-fluid d-flex" style="padding: 15px 40px;">
            <a class="navbar-brand" href="/profile" style="font-family: ogg; font-weight: 800; font-size: 28px;">CHEAP</a>
            <div class="block" style="font-size: 18px;">
              <a href="/addproduct" style="color: white; margin-right: 50px; text-decoration: none;">Add Product</a>
              <a href="/user" style="color: white; margin-right: 50px; text-decoration: none;"><%=a.username%></a>
              <a href='/cart' style="text-decoration: none; color: white; margin-right: 30px;"><i class="ri-shopping-cart-2-line"><p id="cart"><%=a.item.length%></p></i></a>
              <a href="/logout" style="color: white; text-decoration: none;">LogOut</a>
            </div>
        </div>
    </nav>
    <!-- <h1 style="font-family: product sans; margin-top: 20px; margin-left: 20px;">UserName</h1> -->
    <% if(a.item.length>0){ %>
        <%var sum=0%>
        <% a.item.forEach(function(i){ %>
            <%sum+=i.price%>
            <div class="container mt-3">
                <div class="card" style="width: 25rem;">
                    <img style="width: 150px;" src=<%=i.imgurl%> class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=i.name%></h5>
                      <p class="card-text"><%=i.dis%></p>
                      <a href=<%=`/deletecart/${i._id}`%> class="btn btn"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                    </div>
                  </div>
            </div>
        <% }) %>
        
            <div class="card border-primary mb-3" style="position:absolute; left: 700px; top: 120px; width: 700px;">
                <div class="card-header">Price Detail</div>
                <div class="card-body text-primary" style="padding: 20px 20px;">
                    <% a.item.forEach(function(j,index){ %>
                        <h5 style="justify-content: space-around;" class="card-title mt-2 d-flex"><%=index+1%>.<p style="width: 450px;"><%=j.dis%></p> : ₹<%=j.price%></h5>
                    <%})%>
                    <%var d=Math.floor(sum*10/100)%>
                    <%sum=sum-d%>
                    <hr style="border: 1px dashed rgb(72, 157, 78);" />
                    <h4 style="display:flex; justify-content: space-around; color: rgb(112, 209, 122);" class="card-text mt-4"><p>Discount</p>: -₹<%=d%></h4>
                    <hr style="border: 1px dashed rgb(90, 164, 65);" />
                    <h3 style="display:flex; justify-content: space-around;" class="card1text mt-4"><p>Total Amount</p>: ₹<%=sum%></h3>
                    <button type="button" class="btn btn-outline-warning mt-4" style="margin-left: 40%; padding: 10px;">Place Order</button>
                </div>
            </div>
            <!-- <button type="button" class="btn btn-outline-warning">Place Order</button> -->
    
    <% }else{ %>
        <h1 style="text-align: center; margin-top: 40px;">No Product Found</h1>
        <a href="/profile" style="margin-left: 46%; margin-top: 20px;">Add a Product</a>
    <% } %>

    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


  </body>
</html>